<div class="d-flex flex-column" style="width: 280px;">
  <h4>Today's released slot</h4>
  <div class="card shadow flex-grow-1">
    <div class="card-body">
      <div class="d-flex flex-column gap-1">
        <div class="d-flex" style="gap:0.5rem;">
          <i class="icons8-ok-2" style="font-size: 1.2rem; color:#21BC5F"></i><span style="font-size: 1.2rem; color: #137038;">Not released</span>
        </div>
        <div class="d-flex flex-column">
          <h6>Details:</h6>
          <p>Parking number: Placeholder</p>
        </div>
        <div class="d-flex btn-group">
          <button type="button" class="btn btn-secondary active p-2" ><i class="icons8-contacts"></i>Assign</button>
          <button type="button" class="btn btn-tertiary active p-2"><i class="icons8-padlock"></i>Relased</button>
        </div>
      </div>
    </div>
  </div>
</div>