<div class="d-flex flex-column" style="width: 280px;">
  <h4>Today's booked slot</h4>
  <div class="card shadow">
    <div class="card-body px-0 d-flex flex-column px-4" style="gap:1rem;">
      <div class="d-flex" style="gap:0.5rem;">
        <i class="icons8-info-2" style="color: #D4D6DB;font-size: 1.2rem;"></i> 
        <span style="font-size: 1.2rem;">No parking slot booked</span>
      </div>
      <button class="btn btn-primary flex-shrink-1"><i class="icons8-calendar"></i>Book a parking slot</button>
    </div>
  </div>
</div>