<nav class="navbar navbar-expand-sm nav-tabs  pb-0">
  <a class="navbar-brand m-0 p-0" href="#">
    <img src="/assets/SDWorx_logo_normal.svg" style="width:92px; height: 32px;">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="nav nav-tabs">

        <li class="nav-item"><a class="nav-link active" href="home">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="parking_slots">All parking slots</a></li>

        <!-- <a class="nav-item nav-link active" href="home">Home</a>
        <a class="nav-item nav-link" href="parking_slots">All parking slots</a> -->
    </ul>


    <ul class="nav ms-auto d-md-block d-none">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">{{name}}</a>
        <ul class="dropdown-menu dropdown-menu-end" style="z-index: 1000">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
